<div class="about">
<div class="container">
	<div class="row row-centered">
		<div class="col-sm-6 col-centered">
			<img ng-src="http://i.imgur.com/mC93iuZ.jpg" id="profile-pic" style="max-width: 40%; max-height: 30%; border-radius: 100%"/>
		</div>
	</div>
	
	<div class="about-me">
		<p style="font-weight: 700">I seek honesty, transparency, constructive criticism, open-mindedness, and humor. I value myself as a web developer, programmer, audio engineer, videographer, musician, and graphic designer.</p>
		<hr>
		<p>I will graduate from The Ohio State University in May of 2017 with a BS in computer science. I also have a degree in marketing from Columbus State. My main area of interest is software engineering.
		</p>
		<p>Music is a main part of my life. I am an active musician and freelance audio engineer. I am also interested in photography, video, and graphic design.
		</p>
		<hr>
	</div>
</div>
</div>