<div class="contact">
	<div class="row row-centered icons">
		<div class="col-md-3">
			<a href="https://www.linkedin.com/in/matthew-cramblett-93553683?trk=hp-identity-name"><img ng-src="http://i.imgur.com/734sgXN.png"/></a>
		</div>
		<div class="col-md-3">
			<a href="https://github.com/mattcramblett"><img ng-src="http://i.imgur.com/AF7ieuU.png"/></a>
		</div>
		<div class="col-md-3">
			<a href="https://twitter.com/mattcramblett"><img ng-src="http://i.imgur.com/23KuOBc.png"/></a>
		</div>
		<div class="col-md-3">
			<a href="https://www.instagram.com/mattcramblett/"><img ng-src="http://i.imgur.com/pFwMYhS.png"/></a>
		</div>
	</div>
</div>